        .mystyle1 {
            border: 2px outset red;
            margin: 1cm; 
            padding: 10px;
            text-align: center;
        }
        .mystyle2 {
            border: 3px solid #7c56d5;
            margin: 1cm; 
            padding: 10px;
            text-align: center;
        }
    
    
        